<div class="timer-control">
  <button id="btn__pomodoro" class="btn" data-time="25" data-type="Pomodoro">Pomodoro</button>
  <button id="btn__short-break" class="btn" data-time="1" data-type="Short Break">Short Break</button>
  <button id="btn__long-break" class="btn" data-time="15" data-type="Long Break">Long Break</button>
</div>

<div class="timer">
  <svg class=progress-ring height="300px" width="300px">
    <circle class="progress-ring__circle--background" stroke="white" stroke-width="8" fill="transparent" r="142" cx="150" cy="150" />
    <circle class="progress-ring__circle" stroke="red" stroke-width="4" fill="transparent" r="142" cx="150" cy="150" />
  </svg>
</div>

<div class="timer-value__container">
  <div id="timer" class="pomodoro-clock__current-value">25:00</div>
</div>

<div class="timer-log">
  <table class="timer-log__table">
    <thead>
      <tr>
        <th>Timer Type</th>
        <th>Duration</th>
        <th>Finish Time</th>
      </tr>
    </thead>
  <% @ordered_logs.each do |date, single_log| %>
    <tbody>
      <tr>
        <td><%= Time.parse(date.localtime.to_s).strftime("%a %b %e") %></td>
      </tr>
      <% single_log.each do |log| %>
        <tr>
          <td>
            <%= log.timer_type %>
          </td>
          <td>
            <%= log.duration %>
          </td>
          <td>
            <%= Time.parse(log.created_at.localtime.to_s).strftime("%r") %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <% end %>
  </table>
</div>

<%= javascript_include_tag "Timer" %>
<%= javascript_include_tag "timerButtons" %>
<%= javascript_include_tag "progressRing" %>

